<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejemplo Libreria</title>
	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<header class="cabecera">
		<div class="row row__space__between">
			<span class="logo">Book Center</span>
		    <ul class="menu">
				{% if user %}
					<li class="menu__item">{{ user.username }}</li>
					<li class="menu__item"><a href="/salir/">Salir</a></li>
				{% else %}
					<li class="menu__item"><a href="/ingresar/">Login</a></li>
			      	<li class="menu__item"><a href="/registrar/">Registrarse</a></li>
				{% endif %}

		    </ul>
		</div>
    </header>
	<section class="principal">

		<div class="contenedor">

			<h1 class="principal__titulo">Librería</h1>
			<span class="principal__subtitulo">Admin</span>

			<div class="libros">

				<form method="post" enctype="multipart/form-data">
					<label>Titulo</label>
					<input type="text" name="title" placeholder="Titulo" style="width: 80%;"><br>
					<label>Autor</label>
					<input type="text" name="author" placeholder="Autor" style="width: 80%;"><br>
					<label>Resumen</label><br>
					<textarea name="summary" rows="10" cols="50"></textarea><br>
					<label>Imagen</label> <input type="file" name="image"><br>
					<input type="submit" value="Crear libro">
				</form>

			</div>
		</div>
	</section>
	<footer class="footer">
      <div class="contenedor">
        <hr class="footer__linea">
        <span class="footer__texto">Proyecto realizado para el curso de
					Fundamentos de Node.js</span>
      </div>
    </footer>
</body>
</html>
